In [1]:
import numpy as np
import pandas as pd
import requests
import re
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.magicbricks.com/pg-in-hyderabad-pppfr/page-1'

page = requests.get(url)
soup = BeautifulSoup(page.text)

In [42]:
PG_Names=[]
Location = []
Gender = []
Single_Room = []
Twin_Sharing = []
Triple_Sharing = []
Four_Sharing = []
Food = []
for i in range(1, 36):
    url = f'https://www.magicbricks.com/pg-in-hyderabad-pppfr/page-{i}'

    page = requests.get(url)
    soup = BeautifulSoup(page.text)
    #soup = soup.prettyfy
    #print(soup)
    #for i in soup.find_all('div', class_ =  ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        #display_price.append(i.find('div', class_ = 'm-srp-card__price').text)
        
    #for i in soup.find_all('div', class_ =  ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        #sharing_price.append(i.find('div', class_ = 'm-srp-card__roomInfo').text)
        
    for i in soup.find_all('div', class_ =  ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        
        room = i.find('div', class_ = 'm-srp-card__roomInfo').text
        
        regex = re.findall('Single Room(?: With AC)? ₹(\d+,\d+)', room)
        if regex:
            Single_Room.append(regex[0])
        else:
            Single_Room.append(np.nan)
        
        regex = re.findall('Twin Sharing(?: With AC)? ₹(\d+,\d+)', room)
        if regex:
            Twin_Sharing.append(regex[0])
        else:
            Twin_Sharing.append(np.nan)
        
        regex=re.findall('Triple Sharing(?: With AC)? ₹(\d+,\d+)', room)
        if regex:
            Triple_Sharing.append(regex[0])
        else:
            Triple_Sharing.append(np.nan)

        regex=re.findall('Four Sharing(?: With AC)? ₹(\d+,\d+)', room)
        if regex:
            Four_Sharing.append(regex[0])
        else:
            Four_Sharing.append(np.nan)
    
    for i in soup.find_all('div', class_ = ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        name = i.find('span', class_ = 'm-srp-card__title__name').text

        regex = re.findall('(.+)\sPG', name)
        if regex:
            PG_Names.append(regex[0])
        else:
            PG_Names.append(np.nan)
    
    for i in soup.find_all('div', class_ = ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        location = i.find('div', class_ = 'm-srp-card__link m-srp-card__link--nearby').text
        
        loc = location.split(",")[0]
        regex = re.findall('\sin(.+)', loc)
        if regex:
            Location.append(regex[0])
        else:
            Location.append(np.nan)
            
    for i in soup.find_all('div', class_ = ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        
        gender = i.find('span', class_ = 'm-srp-card__info__gender m-srp-card__info__gender-boys') or i.find('span','m-srp-card__info__gender m-srp-card__info__gender-girls') or i.find('span', 'm-srp-card__info__gender m-srp-card__info__gender-coed')
        
        if gender:
            Gender.append(gender.text)
        else:
            Gender.append(np.nan)

    for i in soup.find_all('div', class_ =  ['m-srp-card clearfix','m-srp-card clearfix newLaunched', 'm-srp-card verified-border clearfix']):
        food = i.find('span', class_ = 'm-srp-card__for__item')
        
        if food:
            Food.append(food.text)
        else:
            Food.append(np.nan)

In [44]:
len(Location)

1031

In [45]:
len(PG_Names)

1031

In [46]:
len(Gender)

1031

In [47]:
len(Single_Room)

1031

In [48]:
len(Twin_Sharing)

1031

In [49]:
len(Triple_Sharing)

1031

In [50]:
len(Food)

1031

In [ ]:
PG_Names=[]
Location = []
Gender = []
Single_Room = []
Twin_Sharing = []
Triple_Sharing = []
Four_Sharing = []
Food = []

In [53]:
prop = {'PG_Names': PG_Names, 'Gender': Gender, 'Food': Food, 'Single_Room': Single_Room, 'Twin_Sharing': Twin_Sharing, 'Triple_Sharing': Triple_Sharing,
        'Four_Sharing': Four_Sharing}

In [54]:
pg = pd.DataFrame(prop)

In [55]:
pg

,PG_Names,Gender,Food,Single_Room,Twin_Sharing,Triple_Sharing,Four_Sharing
0,Mahi Mens Luxury,Boys,Food Included,"23,000","11,000","9,000","7,000"
1,Green homes executive Men's and Women's,Coed,Food Charge extra,"30,000","17,000","12,500",NaN
2,Tulasi Mens,Boys,Food Included,"22,000","12,000","9,000","8,000"
3,Sanjay,Coed,Food Included,"10,000","8,000","6,000",NaN
4,Rajesh Bright Star Mens,Boys,Food Included,"16,000","8,500","7,000","6,000"
...,...,...,...,...,...,...,...
1026,Sri durga boys hostel,Boys,NaN,NaN,NaN,NaN,NaN
1027,Vinayaka boys hostel,Boys,NaN,NaN,NaN,NaN,NaN
1028,Sri Srinivas boys hostel,Boys,NaN,NaN,NaN,NaN,NaN
1029,Sai mahith guest-inn,Boys,NaN,NaN,"3,900","3,900",NaN
1030,Tulasi Excutive,Boys,NaN,NaN,"10,400","8,500",NaN

In [56]:
pg.to_csv('D:/Datasets/project_data.csv')